doctype html

head    
    link(href="https://use.typekit.net/jjx5myt.css")
title rezume
body
    div(class='main_photo')
        div(class='photo_2')
            h1 name here
        div(class='photo_1')
            h1 name here
