doctype html

head    
    link(href="https://use.typekit.net/jjx5myt.css")
title rezume
body
    div(class='main')
        div(class='left_side')
            div(class='photo_card')
                div(class='photo_card__image')
                    img(src="https://avatars.mds.yandex.net/get-pdb/34158/0327833d-a134-41f1-ac59-e4cd6937d29e/s1200", alt="avatar")
               
                h1 name here
                h2 surname
                span graphic designer
            div(class='about_me')
                div(class='about_me__icon')
                    img(src="src/image/profile_icon.png", alt="profile_icon")
                div(class='about_me__header')
                    span profile
                div(class='line')
                div(class='text')
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita explicabo quidem qui deserunt! Blanditiis obcaecati exercitationem veritatis veniam, alias excepturi quas saepe consectetur asperiores labore corporis quaerat inventore minima. Quisquam.
                
        div(class='right_side')
            div(class='photo_1')
                h1 name here
