doctype html

head    
    link(href="https://use.typekit.net/jjx5myt.css")
title rezume
body
    div(class='main')
        div(class='left_side')
            div(class='photo_card')
                h1 name here
                h2 surname
                span graphic designer
        div(class='right_side')
            div(class='photo_1')
                h1 name here
