@import "fonts.scss";
$color: #111;
h1,h2
{
    color: $color;
    font-family: 'Conv_MyriadPro-LightSemiExt';
    
}
.body{
   max-width:1920px;
   min-width:320px;
}
.main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.left-side,
.right-side{
    display: flex; 
    flex-shrink: 1;  
    flex-direction: column;     
    min-width: 480px;
    // align-items: space-between;
    background: lightgray; 
       
}

.left-side{
    flex-grow:1;
    width:44%;
    // max-width: 39vw;    
}
.right-side{
    flex-grow:1;
    margin-left: 2px;
    width:54%;
}

.photo-card{
    margin-top:10%;
    margin-left: 0%;
    margin-bottom: 6.2%;
    // padding-top: 10%;
    // padding-left: 0%;
    text-align: center;    

   .photo-card__image{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 16vw;
    height: 16vw;
    border: 1vw solid#fff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 1px #3d6cb0;
   }
   
   img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
   }
    h1,h2{
        text-transform: uppercase;
        margin:0px;
    }
    h1{
        font-size:4.3vw;//3.7em;//58px;//13.81pt;
        font-style: normal;
        margin-top: 6%;
        
    }
    h2{
        font-family: 'Conv_MyriadPro-Bold';
        font-size:4.9vw;//68px; //16.32pt;
        font-style:normal;
        font-weight: normal;
        margin-top: -3%;
        
    }
    span {        
        font-family: 'Conv_MyriadPro-Bold';
        font-size:1.9vw;//28px;// 6.61pt;
        text-transform: uppercase;
        font-style:normal;
        font-weight: normal;
        margin:0px;        
    }
}

.about-me{
    margin-top: 7.5%;
    margin-left: 10%;//12
    margin-right: 15%;
    display: flex;
    flex-wrap: wrap;
    // flex-basis: 40%; // возможно не нужен
    max-width: 76%;
    .about-me__icon{
        align-self: center; 
        // background: url('../image/profile_icon.png') no-repeat;
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
            width:auto;
            height: auto;
            overflow: hidden;
        }       
        
       
    }
    .about-me__header{        
        margin-left: 2%;
        align-self: center;
        
        span{          
            font-family: 'Conv_MyriadPro-Bold';
            color: #3d6cb0;
            font-size:3.4vw;//45px;
            text-transform: uppercase;
            font-style:normal;
            font-weight: normal;
        }
        
    }
    .about-me__line{
        flex-grow: 1;       
        margin-left: 4%;
        align-self: center;
        border-bottom: 5px solid #3d6cb0;
    }
    .about-me__text{
        p{
        font-family: 'Conv_MyriadPro-LightSemiExt';
        font-size: 1.193vw;
        
            span{
                font-family: 'Conv_MyriadPro-Bold';
            }
        }
    }
    .about-me__inner{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex-basis: 100%;
        margin-top: 5%;
        .heading{       
            font-family: 'Conv_MyriadPro-Bold';
            text-transform: uppercase;
            font-style:normal;
            font-weight: normal;  
            font-size: 1.6vw;     
            color:#3d6cb0;
            display: block;                
        }
        .contact__item{
          margin-top: 2%;
            
            .heading_left{
                float: left;
                margin-right:13%;
                width:80px;
            }
            .inner{
                font-family: 'Conv_MyriadPro-LightSemiExt';
                font-style:normal;
                font-weight: normal;
                font-size: 1.6vw; //18px;//
                color:#111;
                display: block;               
            }
          

          
     
        }.skills__item{
           
            .inner__list{
                // display: block;
                // list-style: none;
                padding-left:0px;
                margin-left: 1.8vw;
                li{
                    display: inline-block;
                    width:1.3vw;
                    height: 1.3vw;
                    margin-right: 0.9vw;                   
                    border-radius: 50%;
                    background: #3d6cb0;
                }
            }
            .inner__list_creative{
                li:nth-last-child(-n+3){
                    background: #e6e6e6;
                }
            }
            .inner__list_teamwork{
                li:nth-last-child(1){
                    background: #e6e6e6;
                }
            }
            .inner__list_innovate{
                li:nth-last-child(-n+6){
                    background: #e6e6e6;
                }
            }
            .inner__list_communication{
                li:nth-last-child(1){
                    background: #e6e6e6;
                }
            }
         
        }
    }  
    .about-me__inner_align-center{
        text-align: center;      
        .heading_center{            
            color:#111;
        } 
    } 

    .about-me__list{
        list-style:disc;
        font-size: 5vw;
        margin:0;
        padding-left: 10%;
        li{
            height: auto;
        }
       .item{
           display: inline-block;
           position: relative;
           top:-0.8vw;
       }
        .item__header{
           
            font-family: 'Conv_MyriadPro-Bold';
            font-style:normal;
            font-weight: normal;
            text-transform: uppercase;
            font-size: 2vw; //18px;//
            color:#3d6cb0;
                   
         }
         .item__header_dark{
             color:#111;
         }
         .item__date{
            font-family: 'Conv_MyriadPro-LightSemiExt';
            font-style:normal;
            font-weight: normal; 
            margin-left: 4%;
            font-size: 2vw;
         }
         .content{
            display:block;
            position: relative;
            top:-2vw;
            //  font-size: 1.5vw;
            margin-top:-2vw;
         }
         
         .content__description{
             font-size: 1vw;
             margin:0;
         }
    }
    
   
}
