@import "fonts.scss";
$color: #111;
h1,h2
{
    color: $color;
    font-family: 'Conv_MyriadPro-LightSemiExt';
    
}
.body{
   max-width:1920px;
   min-width:320px;
}
.main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.left_side,
.right_side{
    display: flex; 
    flex-shrink: 1;  
    flex-direction: column; 
    margin-left: 10px;
    min-width: 480px;
    align-items: space-between;
    background: lightgray;    
}

.left_side{
    flex-grow:1;
}
.right_side{
    flex-grow:2;
}

.photo_card{
    
    text-align: center;    

    svg{
        margin-top: 15%;       
    }
    
    h1,h2{
        text-transform: uppercase;
        margin:0px;
    }
    h1{
        font-size:58px;//13.81pt;
        font-style: normal;
        margin-top: 4%;
        
    }
    h2{
        font-family: 'Conv_MyriadPro-Bold';
        font-size:68px; //16.32pt;
        font-style:normal;
        font-weight: normal;
        margin-top: -22px;
        
    }
    span {        
        font-family: 'Conv_MyriadPro-Bold';
        font-size:28px;// 6.61pt;
        text-transform: uppercase;
        font-style:normal;
        font-weight: normal;
        margin:0px;        
    }
}

.profile{
    margin-top: 20%;
    .profile__icon{
        width:80px;
        height: 80px;
        background: url(../image/profile_icon.png);
    }
    span{
        font-family: 'Conv_MyriadPro-Bold';
        color: #3d6cb0;
        font-size:45px;
        text-transform: uppercase;
        font-style:normal;
        font-weight: normal;
    }
    hr{
        border: none;
        background:#3d6cb0;
        height: 6px;
    }
}
.photo_2{
    margin: 20px;
    min-width:30%;
}
