$color: #3d6cb0;
h1
{
    color: $color;
    font-size: 20px;
    font-family: myriad-pro, sans-serif;
}

.main_photo{
    display: flex;    
}
.photo_1{
   flex:1;
   float: right;
    order:1;
    background: lightgray;
    width:30%;
}
.photo_2{
    
    order:2;
    background: lightgray;
    width:30%;
}
